.DS_Store
LMDial/LMDial.xcodeproj/matt.mode2v3
LMDial/LMDial.xcodeproj/matt.pbxuser
LMDial/LMDial_Prefix.pch
LMDial/build/
DialTest/DialTest.xcodeproj/matt.mode2v3
DialTest/DialTest.xcodeproj/matt.pbxuser
DialTest/DialTest_Prefix.pch
DialTest/build/
